extends layout

block content
	//- Modal html content
	script(type='text/ng-template', id='titleContent.html')
		div.modal-header
			h1.modal-title.center {{modalTitle}}
			p.center ({{title.ReleaseYear}})
		div.modal-body 
			ul.genre
				li(ng-repeat="genre in title.Genres") {{genre}} 
			div(ng-show="title.Awards.length > 0") 
				h3 Awards
				ul.genre(style="text-align:left;")
					li(ng-repeat="award in title.Awards") {{award.Award}}
			h3 Description
			p {{modalDesc}}

		div.modal-footer
			button.btn.btn-warning(type='button', ng-click='cancel()') Cancel

	header.intro-header
		div.site-header(ng-style="headerAnimate")
			h1.center Turner Titles
			hr.title-hr
			div.container
				input#title-search(ng-model="titleSearch.TitleNameSortable", ng-focus="headerAnimate={padding: 0}")
	div.container
		div.col-md-4.col-sm-6(ng-repeat="title in titlesData | filter: titleSearch")
			div.titles.panel.panel-default
				div.panel-heading
					h3.center {{title.TitleName}}
				div.panel-body
					p.center(ng-show="title.Awards.length > 0") {{title.winCount}} Awards {{title.nominationCount}} Nominations
					h4.center Genres
					ul.genre
						li(ng-repeat="genre in title.Genres") {{genre}} 
					button.btn.btn-primary.details-btn(ng-click='open(title, title._id)') More

