doctype html
html(ng-app="turnerApp")
  head
    title= title
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/angular.min.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/ui-bootstrap-tpls.min.js")
    script(src="javascripts/controller.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="mainCntrl")
    block content
