body {
  padding: 0px 50px;
  font-size: 14px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
  color: #00B7FF;
}

header { background: rgba(12,12,12,0.6); }

hr.title-hr {
    max-width: 200px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

.container {
	margin: auto;
}

.center { text-align: center; }
.site-header { padding: 100px 0; transition: 2s;}
.site-header h1 { 
	color: white; 
	font-size: 80px;
    font-weight: 800;
}

.details-btn { position: absolute; bottom: 20px; }

#title-search { display: block; margin: 35px auto 20px; }

.titles {
	border: 1px solid #0a0a0a;
	margin: 10px;
	height: 250px;
}

.genre { padding: 0; text-align: center; }
.genre li { display: inline-block; }
.genre li:first-child { list-style: none; }
.genre li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.genre li:first-child:before {
	content: '';
}